# Aquí debes color la API URL que aparece en Integrations -> Data API y activar el Data API
SUPABASE_URL=https://abcxyzproyecto.supabase.co
# Aquí debes colocar la clave que está en configuración -> API Keys -> service_role
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PORT=3000